.admin_nav{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 20px;
        li a{
            padding: 10px 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.212);
            background-color: #fff;
            max-width: max-content;
            color: black;
        }
    }
}